/*body{
background: linear-gradient(90deg, hsla(358, 85%, 68%, 1) 0%, hsla(41, 98%, 49%, 1) 100%);
}*/
.top {
	background-color: #fff;
}
#title{
	color:#F6A420;
	padding-top: 20px;
}
#subtitle{
	color:#888;
	font-size:1.75em;
}
.logo img{
	width: 100px;
	height: 100%;
}
.heading{
	float:right;
}
.navigation{
	background-color: #fff;
	color:#F6A420;
	text-transform: uppercase;
}
.nav-link{
	text-align: center;
	font-weight: bold;
	border-radius: 7px;
}
.nav-link:hover{
	background-color: #F6A420;
	color: #fff;
	transition: 0.3s ease;
	border-radius: 7px;
	border:2px solid black;
}
.active{
	background-color: #F6A420;
	color:#fff;
	border:2px solid black;
}
.faculty{
	padding: 12px;
	color:#000;
	border-bottom: 2px solid #F6A420
}
.row{
	margin: 10px;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width:650px){

	.column{
		width: 60%;
		display: block;
		margin: 0 auto;
	}
	.card img{
		height:180px;
	}
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border:2px solid black;
}
.card img{
	width: 100%;
	height: 200px;

}
.content{
	padding: 0 15px;
}

.name{
	display: block;
	font-weight: bold;
	text-align: center;
}
.designation{

	display: block;
	text-align: center;
}

.sub{
	font-style:italic;
	font-size: 15px;
	display: block;
	text-align: center;
}
.sub1{
	font-size:13px;
}

.after{
	clear:both;
}
.button{
	background-color: #F6A420;
	color:#fff;
	display: block;
	text-align: center;

}
.button:after{

	content: ' \2794';
}
.button:hover{
	
	background-color: #000;
	color:#FFF;
}
.white{
	background-color: #fff;
}
body{
	font-family: Arial;
}
body{
	background-color: #EEEEEE
}
.base{
	background-color: white;
}
.link{
	color:#fff;
}
.link:hover{

	color:white;
}
.button a{

	color:#fff;
}